html {
    font-family: 'Muli', sans-serif;
}



.nav {
    display: flex;
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
    background-color: white;
    position: relative;
    justify-content: space-between;
}

.nav img {
    width: 70%;
    height: 70%;
    position: absolute;
    right: 830px;
}

.logo {
    flex-grow: 1;
}

.menu {
    margin: 0 30px 0 0;
    flex-grow: 1;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin 0 10px;
    padding-right: 10px;
    line-height: 70px;
    position: relative;
}

span {
    color: #54D17A;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 500px) {
    .nav img {
        width: 70%;
        height: 70%;
        position: absolute;
        right: 275px;
    }

}


@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
        position: relative;

    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
        z-index: 1;
        position: absolute;
        top: 16vw;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0px;
        background-color: white;

    }

    #toggle:checked + .menu {
        display: block;
        background-color: white;
    }
}

.menu a:hover {
    text-decoration: underline;

}

.splash {
    width: 97.5vw;
    height: 120vh;
    background-image: url(billeder/splash4.jpg);
    background-size: cover;
    background-position: 30% 0%;
    max-width: none;
}

.splash2 {
    width: 97.5vw;
    height: 90vh;
    background-image: url(billeder/b%C3%B8jle.jpg);
    background-size: cover;
    background-position: 30% 0%;
    max-width: none;
}


h1 {

    font-size: 36px;
    font-weight: bold;
}

h3 {

    font-size: 25px;
    font-weight: bold;
}

p {

    font-size: 15px;
}

#forside h1 {
    text-align: center;
}

#top {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #394157;
    color: white;
}

#top img {
    width: 90%;
    height: 90%;
}

#top .img {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#top p {
    padding-left: 22px;
    padding-right: 10px;
}

#top img:hover {
    -webkit-filter: brightness(70%);
}


#bottom {
    display: flex;

}

#bottom .text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mapouter {
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    background: none !important;
    height: 500px;
    width: 600px;
}

footer {
    background-color: #131b20;
    color: grey;
}

footer a {
    color: grey;
    text-decoration: none;
}

footer h3 {
    font-size: 15px;
    color: white;
}


.wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 10px;
}

footer a:hover {
    color: white;
}


/*
.wrapper img {
    width: 20px;
    height: 15px;
}

.right {
    display: flex;
    align-items: center;
}
*/
