html {
    font-family: 'Muli', sans-serif;
}

header {
    padding-right: 10px;
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);*/
    background-color: #194973;

}

header img {
    width: 3vw;
    height: 5vh;
}

.menu {
    display: flex;
}

.menupunkter {
    display: flex;
    flex-grow: 1;
    text-align: right;
    padding-left: 875px;
    justify-content: space-between;
}

header .menupunkter img {
    width: 25px;
    height: 30px;
}

.logo {
    flex-grow: 1;
    text-align: left;
}

nav {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #d9b1a3;
}

.splash {
    width: 97.5vw;
    height: 120vh;
    background-image: url(billeder/splash4.jpg);
    background-size: cover;
    background-position: 30% 0%;
    max-width: none;
}

.splash2 {
    width: 97.5vw;
    height: 90vh;
    background-image: url(billeder/b%C3%B8jle.jpg);
    background-size: cover;
    background-position: 30% 0%;
    max-width: none;
}


h1 {

    font-size: 36px;
    font-weight: bold;
}

h3 {

    font-size: 25px;
    font-weight: bold;
}

p {

    font-size: 15px;
}

#forside h1 {
    text-align: center;
}

#top {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #394157;
    color: white;
}

#top img {
    width: 90%;
    height: 90%;
}

#top .img {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#top p {
    padding-left: 22px;
    padding-right: 10px;
}

#top img:hover {
    -webkit-filter: brightness(70%);
}


#bottom {
    display: flex;

}

#bottom .text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mapouter {
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    background: none !important;
    height: 500px;
    width: 600px;
}

footer {
    background-color: #131b20;
    color: grey;
}

footer a {
    color: grey;
}

footer h3 {
    font-size: 15px;
    color: white;
}


.wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 10px;
}

footer a:hover {
    color: white;
}


/*
.wrapper img {
    width: 20px;
    height: 15px;
}

.right {
    display: flex;
    align-items: center;
}
*/
