img {
    width: 100%;
}

body {
    margin: 0;
}

html {
    font-family: 'Muli', sans-serif;
}


.nav {
    display: flex;
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
    background-color: white;
    position: relative;
    justify-content: space-between;
}

.nav img {
    width: 70%;
    height: 70%;
    position: absolute;
    right: 830px;
    top: 8px;
}

.logo {
    flex-grow: 1;
}

.menu {
    margin: 0 30px 0 0;
    flex-grow: 1;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin 0 10px;
    padding-right: 10px;
    line-height: 70px;
    position: relative;
}

span {
    color: #54D17A;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 500px) {
    .nav img {
        width: 70%;
        height: 70%;
        position: absolute;
        right: 275px;
    }

}


@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
        position: relative;

    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
        z-index: 1;
        position: absolute;
        top: 16vw;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0px;
        background-color: white;

    }

    #toggle:checked + .menu {
        display: block;
        background-color: white;
    }
}

.menu a:hover {
    text-decoration: underline;

}

/******SLUT PÅ HEADER*****/




/*****START PÅ PRIS-SIDE*****/

h3 {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: bold;
}

/*parent*/
.sectionwrapper {
    display: flex;
    flex-wrap: wrap;

    /* varför fuckar hela sitet med flex-wrap på?*/
    padding-top: 20px;


}

/*child*/
.txt {
    flex-grow: 1;
    flex-basis: 700px;
    margin: 0 10px;
    margin-bottom: 20px;
    background-color: #394157;
    color: white;
    padding-left: 20px;
    padding-right: 10px;
}

.img {
    flex-grow: 1;
    flex-basis: 500px;
    width: 35%;
    height: 35%;
    margin-bottom: 20px;
    margin-right: 10px;


}


/******FOOTER******/

footer {
    background-color: #131b20;
    color: grey;
}

footer a {
    color: grey;
    text-decoration: none;
}

footer h3 {
    font-size: 15px;
    color: white;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 10px;
    padding-bottom: 10px;
}

footer a:hover {
    color: white;
}

p {

    font-size: 15px;
}

.txt a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.txt a:hover {
    text-decoration: underline;
}
